<h1>Home</h1>
  <% if current_user %>
    <h2><%= link_to "My Teams", teams_path %></h2>
    <h2><%= link_to "Create Team", new_team_path %></h2>
    <p><%= link_to "Sign Up", new_user_registration_path %></p> 
    <p>Already a user? <%= link_to "Sign In", new_user_session_path %></p>
  <% else %>
     <p><%= link_to "Sign Up", new_user_registration_path %></p> 
     <p>Already a user? <%= link_to "Sign In", new_user_session_path %></p>
  <% end %>