<h1><%= @team.name %></h1>
<p><%= form_for [@team, @player] do |f| %></p>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %></p> 
  <p><%= f.text_field :last_name %></p>
  <p><%= f.label :number %></p>
  <p><%= f.text_field :number %></p> 
  <p><%= f.label :position %></p>
  <p><%= f.select :position, (['Point Gaurd', 'Shooting Gaurd', 'Small Forward', 'Power Forward', 'Center']) %></p>
  <p><%= f.submit %></p> 

  <% end %>
   
